.DS_Store
*.beam

*.html

doc/edoc-info

doc/erlang.png

*.css

*.dump

*.class

mails/*

test.erl

examples/mergesort/dbg_zoom.dot

examples/mergesort/dbg.dot

*.core

examples/stock/dbg_zoom.dot

examples/stock/dbg.dot

examples/tcp/dbg.dot

src/edd_con_lib_just_in_case.erl

examples/tcp/tcp_mod.erl

src/prova*
src/test_pt.erl

src/tcp.erl

examples/test_reader/*

examples/tcp/prova.pdf

examples/tcp/prova.dot

src/edd_con.erl

examples/tcp/comm_seq_diag.dot

examples/tcp/comm_seq_diag.pdf

examples/tcp/pids_tree.dot

examples/tcp/pids_tree.pdf

examples/tcp/eval_tree.pdf

examples/tcp/eval_tree.dot

pids_tree.pdf

pids_tree.dot


examples/quicksort/quicksort.erl

examples/quicksort/dbg.pdf

eval_tree.pdf

eval_tree.dot


examples/tcp/comm_seq_diag2.dot

comm_seq_diag.pdf

comm_seq_diag.dot

run_examples.txt

examples/quicksort_proper/dbg.pdf

examples/quicksort_proper/dbg.dot

examples/rat/dbg.pdf

examples/rat/dbg.dot

examples/quicksort_proper/edd_temp.erl

examples/quicksort_proper/colors.pdf

examples/quicksort_proper/colors.dot

examples/rat/colors.dot

examples/rat/colors.pdf

*result.txt

philosophers.erl

*.merge

*.core_old

pc/*.erl


mergesort.erl
