.DS_Store
*.beam

*.html

doc/edoc-info

doc/erlang.png

*.css

*.dump

*.class

mails/*

test.erl

examples/mergesort/dbg_zoom.dot

examples/mergesort/dbg.dot

*.core

examples/stock/dbg_zoom.dot

examples/stock/dbg.dot

examples/tcp/dbg.dot

src/edd_con_lib_just_in_case.erl

examples/tcp/tcp_mod.erl

src/prova*
src/test_pt.erl

src/tcp.erl

examples/test_reader/*
